<!DOCTYPE html>
<html>
    <head>
        <title>Inventory Tracker</title>
    </head>

    <header>
        <h2>Inventory Tracking App</h2>
        <p>
            You can create, read, edit/update, or delete (with comment) items in inventory
            by clicking on the corresponding buttons. 
        </p>
        <p>
            For updating, deleting, or "undeleting"/restoring an item, you can look up the item's 
            ID by clicking "Get Inventory".
        </p>
        <p>
            You can remove all data by clicking "Reset Database".
        </p>
        <p>
            Clicking "Clear Response" will remove the messages received after performing
            an action.
        </p>
    </header>

    <script>
        const resetTables = async () => {
            const response = await fetch('/delete-all', {
                method: "DELETE",
                headers: {'Content-Type': 'application/json'}
            });
            const json = await response.json();
            const button = document.createElement('button');
            button.onclick = () => document.querySelector('#reset').innerHTML = '';
            button.innerText = "Close"
            document.querySelector('#reset').innerHTML = json.message;
            document.querySelector('#reset').appendChild(button);
        }
    </script>

    <header>
        <button onclick="resetTables()">Reset Database</button>
        <p id="reset"></p>
    </header>

    <body class="container">
        <main style="display: flex;">
            <div style="display: flex; flex-direction: column;">
                <%- include('../Components/GetInventoryForm') %>
                <%- include('../Components/CreateForm') %>
                <%- include('../Components/UpdateForm') %>
                <%- include('../Components/DeleteForm') %>
                <%- include('../Components/GetRemovedItemsForm') %>
                <%- include('../Components/RestoreItemForm') %>
            </div>
        </main>
    </body>
</html>